*{
    margin: 0;
    padding: 0;
}

.game {
    text-align: center;
}

.game__grid {
    display: grid;
    grid-template-rows: repeat( 3, 120px );
    grid-template-columns: repeat( 3, 120px );
    justify-content: center;
}

.game__cell {
    border: 1px solid #444;
    line-height: 120px;
}
.game__status,
.game__restart {
    margin: 1em 0;
}